<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-gpf</symbolicName>
    <version>4.1.3</version>
    <name>BEAM Graph Processing Framework (GPF)</name>
    
    <description>The basic framework for processing using Operators and the GTP.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    
    <changelog>
        <![CDATA[<p>From 4.1.2 to 4.1.3:<br/>
            [ICOL-4] ICOL processor requires a huge amount of cache memory to finish<br/>
        </p>
        <p>From 4.1.1 to 4.1.2:<br/>
            [BEAM-762] Operator within VISAT don't warn, when file already exist<br/>
            [BEAM-760] The target product selector throws NullPointerException<br/>
        </p>]]>
    </changelog>

    <dependency>
        <module>ceres-binding</module>
        <version>0.6.1</version>
    </dependency>
    <dependency>
        <module>beam-core</module>
        <version>4.1.1</version>
    </dependency>
    <dependency>
        <module>beam-ui</module>
        <version>4.1.1</version>
        <optional>true</optional>
    </dependency>

    <categories>System,Application,Processing</categories>

    <extension point="ceres-core:applications">
        <application id="GraphProcessor" class="org.esa.beam.framework.gpf.graph.GraphProcessorMain"/>
    </extension>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

</module>